*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}
main {
  background-color: white;
}

#computer-board > .tile:hover {
  background-color: rgb(112, 162, 184);
  background-color: rgb(29, 115, 152);
  cursor: pointer;
}

#player-board > .tile:hover {
  cursor: grab;
}

button {
  padding: 5px 20px;
  font-size: 1rem;
}

